{% extends 'etudiant/base.html' %}
{% block content %}
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-4">
            <div class="card shadow-lg p-3">
                <h2 class="text-center card-title text-center mb-4 fs-4 alert alert-info"> Ajouter un nouveau etudiant</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-success">Ajouter</button>
               </form>
           </div>
        </div>
        <div class="col-sm-7 offset-sm-1 col-lg-7 offset-lg-1">
            <h2 class="text-center card-title text-center mb-4 fs-4 alert alert-info"> Montrer les information de l'etudiant</h2>
            {% if stu %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">action</th>
                  </tr>
                </thead>
                <tbody>
                {% for st in stu %}
                  <tr>
                    <td>
                      {% if st.image%}
                      <img src="{{st.image.url}}" alt="Image de l'etudiant" class="img-fluid" style="width: 80px; height: 80px;"></td>
                      {% endif %}
                    <th scope="row">{{st.id}}</th>
                    <td>{{st.name}}</td>
                    <td>{{st.email}}</td>
                    <td>{{st.password}}</td>
                    <td>
                        <a href="{% url 'updatedata' st.id %}" class="btn btn-warning btn-sm">Modifier</a>
                        <form action="{% url 'deletedata' st.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3 class="text-center alert alert-warning">Aucun etudiant n'est encore ajouté</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}